.gallery-carousel {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .gallery-carousel.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
   
  .gallery {
    display: flex;
    gap: 20px;
  }
  
  .gallery-card {
    border-radius: 15px;
    overflow: hidden;
    min-width: 280px;
    max-width: 320px;
    height: 200px;
    transition: transform 0.3s ease;
  }
  
  .gallery-card:hover {
    transform: translateY(-10px);
  }
  
  .gallery-card img {
    width: 100%;
    height: 200px;
    object-fit:fill
  }
  
  /* Optional: Hide scrollbar */
  .gallery-carousel::-webkit-scrollbar {
    display: none;
  }
  